<!-- Plans list -->    
{% verbatim %}
<div ng-if="loader" class="spinner-loader"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
<table ng-if="!loader" class="table table-hover ng-cloak ">
    <tr class="ng-cloak" ng-repeat="plan in plans">
        <td class="ng-cloak"><h4>{{plan.category}}</h4></td>
        <td class="ng-cloak text-center">
            <h4>{{plan.value}} {{plan.currency}}</h4>
        </td>
        <td class="text-right">
            <a href="" ng-click="selectPlan($index)" class="text-danger" data-toggle="modal" data-target="#plan-modal"><i class="fa fa-trash-o" aria-hidden="true"></i> Удалить </a>
        </td>
    </tr>
    <tr ng-show="plans.length !== 0">
        <td class="ng-cloak teal"><h4><strong>Итого:</strong></h4></td>
        <td class="ng-cloak text-center teal">
            <h4><strong>{{total}} {{plans[0].currency}}</strong></h4>
        </td>
        <td>
        </td>
    </tr>
</table>

<div ng-if="!loader" ng-show="plans.length === 0" class="ng-cloak text-center">
    <hr>
    <br><br>
    <h4 class="teal"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ваш список планов пуст! Добавьте новый план чтобы это исправить.</h4>
    <br><br>
</div>

<!-- Edit list -->   
<div id="plan-modal" class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center text-danger">Удаление плана</h4>
            </div>
            <div class="modal-body text-center">
                <p>Вы уверены что хотите удалить выбранный план?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button ng-click="deleteSelectedPlan()" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash-o" aria-hidden="true"></i> Удалить</button>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
