<form class="form-horizontal" id="plan-form" name="plan_form">

    <div class="col-md-8">
        <div class="form-group">
            <label class="control-label col-md-6" for="new-plan-field"><a href="#" data-toggle="tooltip" title="Создать новый план можно только для категории, на которую еще ничего не запланировано!" data-placement="right">
                <i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i>
            </a>Выберете категорию:</label>
            <div class="col-md-6">
                <select class="selectpicker show-tick form-control" data-live-search="true" id="new-plan-field">
                    <option>Другое</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-6" for="new-plan-value-field">Введите траты на категорию:</label>
            <div class="col-md-6">
                <input id="new-plan-value-field" class="form-control round_inputs" autocomplete="off" required type="number" step="0.01" min="1" max="9999999999999" name="" oninput="if(value.length>14)value=value.slice(0,14)" ng-model="planValue">
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="form-group">
            <button ng-disabled="!plan_form.$valid" ng-click="addPlan(plan_form)" class="btn btn-block" id="save-plan" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Сохранить</button>
            
        </div>
        <div class="form-group">
            <button class="btn btn-block" id="cancel-plan">Отмена</button>
        </div>
    </div>
</form>