{% verbatim %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center teal">Редактирование транзакции</h4>
</div>
<div class="modal-body">
<form data-toggle="validator" name="edit_form">
<div class="modal-body">
<div class="col-md-4">
	<div class="datepicker-container">
		<div class="datepicker" id="edit-tranaction-datepicker"></div>
	</div>
</div>
<div class="col-md-5">
	<!-- Income/Outcome checker -->
	<div class="form-group">
		<div class="btn-group user_toggle" data-toggle="buttons">
			<label ng-click="selectedTransaction.type = false" class="btn btn-default btn-sm" id="edit-income">
			    <input type="radio" checked="checked" name="default_branding" value="0" autocomplete="off"> Расход
			</label>
			<label ng-click="selectedTransaction.type = true" class="btn btn-default btn-sm" id="edit-outcome">
			    <input type="radio" name="default_branding" value="1" autocomplete="off"> Доход
			</label>
		</div>
	</div>
	<!-- Value of transaction -->
	<div class="form-group">
		<strong>Сумма</strong>
	    <div class="input-group">
		   <span class="input-group-addon">
		   	<i class="fa fa-minus" id="edit-minus" aria-hidden="true"></i>
		   	<i class="fa fa-plus" id="edit-plus" aria-hidden="true"></i>
		   </span>
		   <input oninput="if(value.length>14)value=value.slice(0,14)" min="1" max="9999999999999" autocomplete="off" required ng-model="selectedTransaction.value" type="number" step="0.1" name="value" class="form-control" id="edit-value-field"placeholder="Введите сумму">
	    </div>
	</div>
	<!-- Name of transaction -->
	<div required class="form-group">
		<strong>Название</strong>
	    <input autocomplete="off"  ng-model="selectedTransaction.name" type="text" name="transaction-name" class="form-control" id="edit-name-field" placeholder="Введите название вашей транзакции" required>
	</div>
	<!-- Category of transaction -->
	<strong>Категория</strong>
	<div class="form-group">
		<select class="selectpicker show-tick form-control" data-live-search="true" id="edit-category-field">
			<option>Другое</option>
		</select>
	</div>
	<!-- Save/Delete/Cancel -->
	<div class="form-group">
		<button ng-disabled="!edit_form.$valid" ng-click="editTransaction(edit_form)" data-dismiss="modal" class="btn" id="edit-transaction" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Сохранить</button>
		<button class="btn" data-dismiss="modal">Отмена</button>
		<button class="btn btn-danger" ng-click="removeTransaction(selectedTransaction.id)" data-dismiss="modal"><i class="fa fa-trash-o" aria-hidden="true"></i> Удалить</button>
	</div>
	
</div>
</div>
</form>
<div class="col-md-3">
	<div class="advice">
		<h3><i class="fa fa-info-circle" aria-hidden="true"></i> Совет:</h3>
		<p>Измените одно из полей и нажмите "Сохранить", чтобы редактировать тразакцию.</p>
		<p>Вы так же можете удалить транзакцию, нажав кнопку "Удалить".</p>
		<p>Помните, удаленную транзакцию восстановить уже нельзя!</p> 
	</div>
</div>
</div>
{% endverbatim %}
