<!-- Hided block with new transaction form -->
<form id="transaction-block" data-toggle="validator" name="transaction_form">

	<!-- Datepicker -->
	<div class="col-md-4">
		<div class="datepicker-container">
			<div class="datepicker" id="tranaction-datepicker"></div>
		</div>
	</div>
	
	<div class="col-md-5">
		<!-- Income/Outcome checker -->
		<div class="form-group">
			<div class="btn-group user_toggle" data-toggle="buttons">
				<label ng-click="transactionType = false" class="btn btn-default btn-sm active" id="income">
				    <input type="radio" checked="checked" name="default_branding" value="0" autocomplete="off"> Расход
				</label>
				<label ng-click="transactionType = true" class="btn btn-default btn-sm" id="outcome">
				    <input type="radio" name="default_branding" value="1" autocomplete="off"> Доход
				</label>
			</div>
			&nbsp;
			<a href="#" data-toggle="tooltip" title="Выберайте «Расход», если вы потратили деньги, а «Доход», если их получили!" data-placement="right">
				<i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i>
			</a>
		</div>
		<!-- Value of transaction -->
		<div class="form-group">
            <div class="input-group">
			   <span class="input-group-addon">
			   	<i class="fa fa-minus" id="minus" aria-hidden="true"></i>
			   	<i class="fa fa-plus" id="plus" aria-hidden="true"></i>
			   </span>
			   <input autocomplete="off" required ng-model="value" type="number" step="0.01" name="value" class="form-control round_inputs" id=" new-value-field" placeholder="Введите сумму" min="1" max="9999999999999" oninput="if(value.length>14)value=value.slice(0,14)">
            </div>
		</div>
        <!-- Name of transaction -->
        <div required class="form-group">
            <input maxlength="40" autocomplete="off"  ng-model="name" type="text" name="transaction-name" class="form-control" id="new-name-field" placeholder="Введите название вашей транзакции" required>
        </div>
		<!-- Category of transaction -->
		<div class="form-group">
			<select class="selectpicker show-tick form-control" data-live-search="true" id="new-category-field">
				<option>Другое</option>
			</select>
		</div>
		<!-- Save/Cancel -->
		<div class="form-group">
			<button ng-disabled="!transaction_form.$valid" ng-click="addTransaction(transaction_form)" class="btn" id="save-transaction" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Сохранить</button>
			<button class="btn" id="cancel-transaction">Отмена</button>
		</div>
	</div>
    <!-- Advice -->    
	<div class="col-md-3">
		<div class="advice">
			<h3><i class="fa fa-info-circle" aria-hidden="true"></i> Совет:</h3>
			<p>Выберайте название и категорию максимально описывающие вашу транзакцию! Это поможет лучше контролировать расходы и доходы.</p> 
			<p>Новые категории вы можете добавить в <a href="/settings/">настройках</a>.</p> 
		</div>
	</div>
</form>