
<!-- Transactions Search -->   
<div class="input-group transactions-search">
	<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input type="Search" placeholder="Поиск транзакции" class="search form-control" ng-model="transactionSearch"/>
    <span class="input-group-addon">
        <a href="#" data-toggle="tooltip" title="Введите любую информацию о транзакции. Это может быть сумма, название, категория или дата.">
			<i class="fa fa-question-circle-o" aria-hidden="true"></i> Как искать
		</a>
    </span>
</div>

<!-- Transactions list -->    
{% verbatim %}
<div ng-if="loader" class="spinner-loader"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
<table class="table table-hover">
    <tr class="ng-cloak" dir-paginate="transaction in transactions|filter:transactionSearch|itemsPerPage:10">
    	<td class="ng-cloak">
            <p class="transaction-date">{{ transaction.date }}</p>
            <p ng-if="transaction.date == today" class="teal">Сегодня</p>
        </td>
    	<td class="ng-cloak"><h4 class="transaction-value">{{normalizeValue(transaction.value, transaction.type)}} {{transaction.currency}}</h4></td>
    	<td class="transaction-info ng-cloak">
    		<div style="display: inline-block">
    			<h4 class="transaction-category">{{ transaction.category }}</h4>
    			<p class="transaction-name">{{ transaction.name }}</p>
    		</div>
    	</td>
    	<td class="transaction-edit ng-cloak">
            <a ng-click="selectTransaction($index)" href="" data-toggle="modal" data-target="#transaction-modal">
    		    <i class="fa fa-pencil " aria-hidden="true"></i> Изменить
            </a>
    	</td>
    </tr>
</table>

<div ng-if="!loader" ng-show="transactions.length === 0" class="ng-cloak text-center">
    <br><br>
    <h4 class="teal"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ваш список транзакций пуст! Добавьте новую транзакцию чтобы это исправить.</h4>
    <br><br>
</div>

<hr>

<div class="text-center">
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
    </dir-pagination-controls>
</div>

{% endverbatim %}

<!-- Edit list -->   
<div id="transaction-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body row">
                {% include "business/transactions/transaction-edit.html" %}
            </div>
        </div>
    </div>
</div>