@font-face {
    font-family: 'OpenSans';
    src: url(../libs/fonts/OpenSans-Regular.ttf);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-color: #EEEEEE;
    font-family: 'OpenSans';
}

hr {
    margin: 10px;
}

a {
    text-decoration: none !important;
}

canvas {
    padding: 37px;
}

/*for registration/login form*/
.form-horizontal {
    padding: 30px 0 10px 0;
}

#server_error {
    color: red;
    width: 260px;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 5px;
    margin: 0 auto;
}

#server_error > div {
    margin: 5px 5px 10px 1px;
}



/*Navigation*/
nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0px;
  background-color: white;
}

a.navbar-brand {
    font-size: 20px;
}

.navbar-toggle .icon-bar {
    background-color: teal;
}

/*Video background*/
#video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../assets/pictures/Productive-Morning.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.video-not-work {
    position: fixed;
    z-index: -100;
}

#information-on-video { 
    font-weight:100; 
    font-size: 18px;
    color: white;
    padding: 20px;
    margin: 20px;
    min-width: 410px;
    width: 33%;
    max-width: 510px;
    float: right;
}

#information-on-video h2 {
    background: rgba(0,0,0,0.3);
    padding: 8px;
    margin-top: 5px;
    font-size: 30px;
}


/* material-button style 
https://codepen.io/ritchiejacobs/pen/qEJjBM
*/
.material-button,
.material-button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-button {
    background: none;
    border: 3px solid #fff;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 15px auto;
    padding: 3% 0 3% 0;
    position: relative;
    width: 100%;
    outline: none;
}

.material-button::before,
.material-button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.material-button:hover {
    color: teal;
}

.material-button::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.material-button:hover:after {
    height: 100%;
}


/*Common styles*/

.none-margin {
    margin: 0px;
}

.panels-container {
    max-width: 1450px;
    min-width: 1200px;
}

.main-panel, .additional-panel {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}

.fixed-panel {
    position: fixed; 
    width: 410px;
}

.advice {
    padding: 3px;
    height: 260px;
}

.advice h3 {
    margin-top: 0px;
    color: teal;
}

.teal {
    color: teal;
}

.none-display {
    display: none !important;
}

.today {
    margin-bottom: 25px;
}

/*Transactions*/
.datepicker-container {
    border: solid #ccc 1px;
    border-radius: 5px;
}

.datepicker {
    margin: 0 auto;
    padding-left: 7px;
}

#plus, #edit-plus, #minus, #edit-minus {
    display: block;
}

.transactions-search {
    margin-bottom: 10px;
}

#transaction-alert {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover {
    background-color: transparent !important;
    color: black;
}

.transaction-date {
    width: 100px;
}

.transaction-value {
    width: 190px;
    margin-top: 0px;
    word-wrap: break-word;
}

.transaction-category {
    width: 200px;
    margin-top: 0px;
}

.transaction-name {
    width: 300px;
    word-wrap: break-word;
}

.transaction-edit, .transaction-delete {
    margin: 2px;
}

.transaction-edit {
    margin-top: 3.4px;
}

.info-table {
    width: 100%;
    margin: 0 auto;
}

.info-table tr td > *{
    margin-left: 5px;
    margin-right: 5px;
}

.budget-info h4 {
    font-size: 21px;
}

.budget-info h6 {
    font-size: 17px;
}

.budget-info h5 {
    font-size: 16px;
}

.spinner-loader {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
    height: 100px;
    color: teal;
}

/*planning and transactions*/

#transaction-block, #plan-form {
    display: none;
}

#transaction-block-show > a, #plan-form-show > a {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    padding: 10px;
    width: 235px;
    display: block;
    text-decoration: none;
    border: solid #ccc 5px;
    border-radius: 5px;
}

/*planning page*/
#plan-form {
    margin: -10px;
}

/*finaces page*/
.chart-title {
    margin-bottom: -20px;
    font-weight: bold;
}

.no-data {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 35px;
    padding: 30px;
}

/*for mobile*/
@media (max-width: 800px) {

    #information-on-video {
        min-width: 200px;
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    #background {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('../assets/pictures/Productive-Morning.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }

    #video { display: none; }

}