<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}
        <!--Common CSS libs-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/libs/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'business/libs/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'business/libs/css/bootstrap-datepicker.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'business/libs/css/bootstrap-select.min.css' %}" />

        <!--Common JS libs-->
        <script src="{% static 'business/libs/js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'business/libs/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'business/libs/js/validator.min.js' %}"></script>
        <script src="{% static 'business/libs/js/moment.min.js' %}"></script>
        
        <!--Datepicker-->
        <script src="{% static 'business/libs/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'business/libs/js/i18n/bootstrap-datepicker.ru.min.js' %}"></script>
        <!--Selectpicker-->
        <script src="{% static 'business/libs/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'business/libs/js/i18n/defaults-ru_RU.min.js' %}"></script>

        <!--Common static-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/styles/main.css' %}" />
        <script src="{% static 'business/scripts/main.js' %}"></script>

        <!--Favicon-->
        <link rel="shortcut icon" href="{%  static 'business/assets/icons/favicon.ico' %}">

    </head>
    <body>
    {% block container %}{% endblock %}
    <!--For page specific statics -->
    {% block other_static %}{% endblock %}
    </body>
</html>
