{% extends "business/navbar.html" %}

{% block title %}Мои финансы{% endblock %}

{% block other_static %}
{% load staticfiles %}
<script src="{% static 'business/libs/js/Chart.min.js' %}"></script>
<script src="{% static 'business/libs/js/randomColor.js' %}"></script>
<script src="{% static 'business/scripts/finances/charts.js' %}"></script>
{% endblock other_static %}

{% block content %}
<article class="container-fluid panels-container">
    <!-- Main column with Charts -->
    <section class="col-md-8">
    <!-- Line chart -->
        <div class="main-panel">
            <h4 class="text-center chart-title">Статистика изменения бюджета:</h4>
            <div class="row">
                <div class="col-md-12">
                    <canvas id="budget-status-chart"></canvas>
                    <div id="budget-status-no-data" class="no-data none-display alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Недостаточно данных. Добавьте новые <a href="/transactions/">транзакции</a>.</div>
                    </a>
                </div>
            </div>
            <!-- Pie charts -->
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-center chart-title">Расходы по категориям за месяц:</h4>
                    <canvas id="outcome-category-chart"></canvas>
                    <div id="outcome-category-no-data" class="no-data none-display alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Нету транзакций за текуший месяц.<br>Добавьте новые <a href="/transactions/">транзакции</a>.</div>

                </div>
                <div class="col-md-6">
                    <h4 class="text-center chart-title">Доходы по категориям за месяц:</h4>
                    <canvas id="income-category-chart"></canvas>
                    <div id="income-category-no-data" class="no-data none-display alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Нету транзакций за текуший месяц.<br>Добавьте новые <a href="/transactions/">транзакции</a>.</div>
                </div>
            </div>
            <!-- Planning charts -->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center chart-title">Сравнение планируемых и реальных расходов за месяц:</h4>
                    <canvas id="planning-chart"></canvas>                
                
                <div id="planning-chart-no-data" class="no-data none-display alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> У вас нету планов на этот месяц. Добавьте новые <a href="/planning/">планы</a>.</div>
                </div>
            </div>
        </div>
        <br>
    </section>
    
    <!--Additional column with other -->
    <section class="col-md-4">
        <div class="additional-panel budget-info text-right fixed-panel">
            <h6 class="teal today"><i class="fa fa-calendar" aria-hidden="true"></i> Сегодня <span id="date-now"></span></h6>

            <h4><strong> Текущий бюджет составляет: </strong></h4>
            <h4><strong>{{budget}} {{currency}}</strong></h4>
            <br>
            <table class="info-table text-left table table-hover">
                <tr>
                    <td colspan="2" class="text-center teal">
                        <h5>
                            <strong>
                                Основное
                            </strong>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5><strong>Расходы за месяц:</strong></h5>
                    </td>
                    <td>
                        <h5 class="text-right"><strong>{{outcome_sum}} {{currency}}</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5><strong>Доходы за месяц:</strong></h5>
                    </td>
                    <td>
                        <h5 class="text-right"><strong>{{income_sum}} {{currency}}</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5><strong>Итого:</strong></h5>
                    </td>
                    <td>
                        <h5 class="text-right"><strong>{{total}} {{currency}}</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center teal">
                        <h5>
                            <strong>
                                Среднee в сутки
                                <a href="#" data-toggle="tooltip" title="Показывает, сколько в среднем вы тратите и зарабатываете за день">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                </a>  
                            </strong>
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5><strong>Расход:</strong></h5>
                    </td>
                    <td>
                        <h5 class="text-right"><strong>-{{average_outcome_in_day}} {{currency}}</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5><strong>Доход:</strong></h5>
                    </td>
                    <td>
                        <h5 class="text-right"><strong>{{average_income_in_day}} {{currency}}</strong></h5>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
    </section>
</article>

<script type="text/javascript">
    $('#date-now').text(moment().format("DD-MM-YYYY"));
</script>

{% endblock content %}