{% extends "business/navbar.html" %}

{% block title %}Финансовый планировщик{% endblock %}

{% load staticfiles %}

{% block content %}

<!-- Video for background -->
<div id="background">
    <video id="video" autoplay loop>
        <source src="{% static 'business/assets/video/Productive-Morning.mp4' %}" type="video/mp4" />
        <source src="{% static 'business/assets/video/Productive-Morning.webm' %}" type="video/webm" />
        <img class="video-not-work" src="{% static 'business/assets/pictures/Productive-Morning.jpg' %}" title="Your    browser is too old." />
    </video>
</div>


<div id="information-on-video">
	<h2>Управляйте своими финансами</h2>
	<p align="justify">
	Создайте реалистичный семейный бюджет, которому Вы сможете следовать, автоматизируйте ввод расходов, следите за тратами используя графики и получайте уведомления о превышении расходов. Получите полный контроль за своими деньгами!
	</p>
	<button id="registration-button" class="material-button" data-toggle="modal" data-target="#auth-modal">Регистрация</button>
</div>

<!-- Modal -->
<div id="auth-modal" class="modal fade">
	<div class="modal-dialog">
    	<!-- Modal content-->
    	<div class="modal-content">
    		<div class="modal-body">

    			<ul id="auth-tabs" class="nav nav-tabs">
    				<!-- Tabs-->
    				<li class="active"><a data-toggle="tab" href="#sign-in-tab"><i class="fa fa-sign-in" aria-hidden="true"></i> Вход</a></li>
    				<li><a data-toggle="tab" href="#registration-tab"><i class="fa fa-user-plus" aria-hidden="true"></i> Регистрация</a></li>
    				<!-- Close modal-->
    				<button type="button" class="close" data-dismiss="modal">&times;</button>
    			</ul>

    			<div class="tab-content">
    				<div id="sign-in-tab" class="tab-pane fade in active">
    					{% include "business/authorization/login.html" %}
    				</div>
    				<div id="registration-tab" class="tab-pane fade">
    					{% include "business/authorization/registration.html" %}
    				</div>
    			</div>

    		</div>

    	</div>
    </div>
</div>
{% endblock %}
