{% extends "business/base.html" %}

{% block container %}
    <!--header with navigation -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand teal"><strong>Money|Mate</strong></span>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="/finances"><i class="fa fa-bar-chart" aria-hidden="true"></i> Мои финансы</a></li>
                    <li><a href="/transactions"><i class="fa fa-credit-card" aria-hidden="true"></i> Транзакции</a></li>
                    <li><a href="/planning"><i class="fa fa-pie-chart" aria-hidden="true"></i> Планирование</a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <!--User name -->
                        {% if user.is_authenticated %}
                        <a href="/settings" >
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i> {{ user.get_username }} 
                        </a>                          
                        {% else %}
                        <a id="sign-in-button" href="#" data-toggle="modal" data-target="#auth-modal">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Войти 
                        </a>                    
                        {% endif %}

                    </li>

                    {% if user.is_authenticated %}
                    <li>
                        <a href="/logout" >
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
                        </a>   
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    <div>
        <!--other content on page -->
        {% block content %}{% endblock %}
    </div>

{% endblock %}

