{% extends "business/navbar.html" %}

{% block title %}Планирование бюджета{% endblock %}

{% block other_static %}
{% load staticfiles %}
<script src="{% static 'business/libs/js/angular.min.js' %}"></script>
<script src="{% static 'business/scripts/planning/app.js' %}"></script>
<script src="{% static 'business/scripts/planning/planningService.js' %}"></script>
<script src="{% static 'business/libs/js/randomColor.js' %}"></script>
<script src="{% static 'business/scripts/planning/pieChartService.js' %}"></script>
<script src="{% static 'business/scripts/planning/planningController.js' %}"></script>
<script src="{% static 'business/libs/js/Chart.min.js' %}"></script>
{% endblock other_static %}

{% block content %}
<article class="container-fluid panels-container" ng-app="PlanningApp" ng-controller="PlanningController">
    <!-- Main column with plans -->
    <section class="col-md-7">
        <div class="main-panel">
            <div class="row">
                <div id="plan-form-show" class="text-center">
                    <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"> </i> Добавить план</a>
                </div>
                {% include "business/planning/planning-form.html" %}
            </div>

            <!-- Plans list block -->
            <div class="row">
                <div class="col-md-12" id="transactions-list-block">
                    <div>
                        {% include "business/planning/planning-list.html" %}
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <!--Additional column with other -->
    {% verbatim %}
    <section class="col-md-5">
        <div class="additional-panel budget-info text-right">
            <h6 class="teal ng-cloak today"><i class="fa fa-calendar" aria-hidden="true"></i> Сегодня {{ today }}</h6>
            <h4 class="text-center chart-title">Соотношение запланированных расходов:</h4>
            <canvas id="safe-money-chart"></canvas>
            <div id="plans-no-data" class="no-data none-display alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Нету запланированных затрат.</div>
        </div>
    </section>
    {% endverbatim %}
</article>

<script type="text/javascript">
$(".selectpicker").selectpicker({
    iconBase: 'fa',
    tickIcon: 'fa-check'
});
</script>

{% endblock content %}