{% extends "business/navbar.html" %}

{% block title %}Настройки{% endblock %}

{% block other_static %}
{% load staticfiles %}
<script src="{% static 'business/scripts/settings/settings.js' %}"></script>
{% endblock %}

{% block content %}

<article class="container-fluid panels-container">
    <!-- Main column with -->
    <section class="col-md-4 col-md-offset-4">

        <div class="main-panel">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="teal">Настройки приложения:</h3>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="currency">
                                Выберете валюту:
                            </label>
                            <select class="selectpicker show-tick form-control" data-live-search="true" id="currency" name="currency">
                                <option>USD</option>
                                <option>GBP</option>
                                <option>EUR</option>
                                <option>CAD</option>
                                <option>JPY</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Изменить" class="btn btn-default teal" name="currency_sub">
                            <span class="teal">&nbsp;Текущая валюта: {{currency}}</span>
                        </div>
                    </form>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="category">
                                Добавление категорий:
                            </label>
                            <div required class="form-group">
                                <input maxlength="9" autocomplete="off" type="text" name="category" class="form-control teal" id="category" placeholder="Введите название вашей категории" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group user_toggle" data-toggle="buttons">
                                <label class="btn btn-default btn-sm active" id="income">
                                    <input type="radio" name="income_category" value="0" autocomplete="off"> Расход
                                </label>
                                <label class="btn btn-default btn-sm" id="outcome">
                                    <input type="radio" name="outcome_category" value="1" autocomplete="off"> Доход
                                </label>
                            </div>
                        </div>

                        {% if error %}
                            <div class="alert alert-info alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{error}}</strong>
                            </div>                           
                        {% endif %}

                        
                        <div class="form-group">
                            <input type="submit" value="Добавить" class="btn btn-default teal" name="category_sub">
                        </div>
                    </form>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="category_out_del">
                                Удаление категорий для расходов:
                            </label>
                            <select class="selectpicker show-tick form-control" data-live-search="true" id="category_out_del" name="category_out_del">
                            {% for category in categories_outcome %}
                                <option>{{category}}</option>                             
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Удалить" class="btn btn-default teal" name="category_out_del_sub">
                        </div>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="category_in_del">
                                Удаление категорий для доходов:
                            </label>
                            <select class="selectpicker show-tick form-control" data-live-search="true" id="category_in_del" name="category_in_del">
                            {% for category in categories_income %}
                                <option>{{category}}</option>                             
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Удалить" class="btn btn-default teal" name="category_in_del_sub">
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
        <br>
    </section>
</article>
<script type="text/javascript">
$(".selectpicker").selectpicker({
    iconBase: 'fa',
    tickIcon: 'fa-check'
});
</script>
{% endblock %}