{% extends "business/navbar.html" %}

{% block title %}Мои транзакции{% endblock %}

{% block other_static %}
{% load staticfiles %}
<script src="{% static 'business/libs/js/angular.min.js' %}"></script>
<script src="{% static 'business/libs/js/dirPagination.js' %}"></script>
<script src="{% static 'business/scripts/transactions/app.js' %}"></script>
<script src="{% static 'business/scripts/transactions/transactionsService.js' %}"></script>
<script src="{% static 'business/scripts/transactions/transactionsController.js' %}"></script>
{% endblock %}

{% block content %}

<article class="container-fluid panels-container" ng-app="TransactionsApp" ng-controller="TransactionsController">
	<!-- Main column with transactions -->
	<section class="col-md-8">

		<div class="main-panel">
			<div class="row">
				<!-- Button for make visible transaction form -->
				<div id="transaction-block-show" ng-click="clearInputs()">
					<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"> </i> Добавить транзакцию</a>
				</div>

				<!-- Hided block with new transaction form -->
				{% include "business/transactions/transaction-form.html" %}

  			</div>

  			<!-- Transactions list block -->
  			<div class="row">
  			  	<hr>
				<div class="col-md-12" id="transactions-list-block">
                    <div>
                        {% include "business/transactions/transactions-list.html" %}
                    </div>
				</div>  				
  			</div>

  		</div>
  		<br>
	</section>
	
	{% verbatim %}
	<!--Additional column with other -->
	<section class="col-md-4">
		<div class="additional-panel budget-info text-right fixed-panel">
			<div ng-if="loader" class="spinner-loader"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
			<div ng-if="!loader">
				<h6 class="teal ng-cloak today"><i class="fa fa-calendar" aria-hidden="true"></i> Сегодня {{ today }}</h6>
				<h4 class="ng-cloak"><strong> Текущий бюджет составляет: </strong></h4>
				<h4 class="ng-cloak"><strong> {{ budget.money | number:2 }} {{ budget.code }}</strong></h4>
				<br class="ng-cloak">
				<table class="info-table ng-cloak text-left table table-hover">
					<tr>
						<td>
							<h5><strong>Расходы за сегодня:</strong></h5>
						</td>
						<td>
							<h5 class="ng-cloak text-right"><strong>-{{ -outcomeToday | number:2 }} {{ budget.code }}</strong></h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5><strong>Доходы за сегодня:</strong></h5>
						</td>
						<td>
							<h5 class="ng-cloak text-right"><strong>+{{ incomeToday | number:2 }} {{ budget.code }}</strong></h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5><strong>Итого:</strong></h5>
						</td>
						<td>
							<h5 class="ng-cloak text-right"><strong>{{ (incomeToday + outcomeToday) | number:2  }} {{ budget.code }} </strong></h5>
						</td>
					</tr>
				</table>
				<br class="ng-cloak">
			</div>
		</div>
	</section>
	{% endverbatim %}
	
	<div id="transaction-alert" class="alert alert-warning">
	    <strong>Внимание!</strong> Транзакция была успешно удалена!
	</div>
</article>


<script type="text/javascript">
$(".selectpicker").selectpicker({
    iconBase: 'fa',
    tickIcon: 'fa-check'
});
</script>


{% endblock %}