<form id="login_form" class="form-horizontal auth-form" role="form" data-toggle="validator" method="post" action="/login/">
	{% csrf_token %}
	<!-- Email -->
	<div class="form-group has-feedback">
		<label class="control-label col-sm-3" for="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email:</label>
		<div class="col-sm-8">
			<input name="email" type="email" class="form-control" id="email" placeholder="Введите email" data-error="Введите адрес электронной почты." required autocomplete="off">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<!-- Password -->
	<div class="form-group">
		<label class="control-label col-sm-3" for="password"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Пароль:</label>
		<div class="col-sm-8">
			<input name="password" pattern=".{5,20}" type="password" class="form-control" id="password" placeholder="Введите пароль" required autocomplete="off">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div id="server_error" class="control-label">
			<div class="text-center">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Неверный email или пароль
			</div>
		</div>
	</div>
	<!-- Submit -->
	<div class="form-group">
		<div class="text-center">
			<button type="submit" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i> Вход</button>
		</div>
	</div>
</form>

<script type="text/javascript">
$('#server_error').css('display', 'none');
if ($(location).attr('hash') === '#login') {
	$('#server_error').css('display', 'block');
	$('#auth-modal').modal('toggle');
} 
</script>