<form id="registration-form" class="form-horizontal auth-form" role="form" data-toggle="validator" method="post" action="/register/">
	{% csrf_token %}
	<!-- Name -->
	<div class="form-group has-feedback">
		<label class="control-label col-sm-3" for="first-name">Имя:</label>
		<div class="col-sm-8">
			<input name="first_name" class="form-control" id="first-name" placeholder="Введите Имя" data-error="Введите ваше имя."  required autocomplete="off">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<!-- Last name -->
	<div class="form-group has-feedback">
		<label class="control-label col-sm-3" for="last-name">Фамилия: </label>
		<div class="col-sm-8">
			<input name="last_name" class="form-control" id="last-name" placeholder="Введите Фамилию" data-error="Введите вашу фамилию."  required autocomplete="off">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<!-- Email -->
	<div class="form-group has-feedback">
		<label class="control-label col-sm-3" for="email">Email: </label>
		<div class="col-sm-8">
			<input name="email" type="email" class="form-control" id="email" placeholder="Введите email" required data-remote="/email-validator/" data-remote-error="Аккаунт с таким адресом уже существует." autocomplete="off">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<!-- Passwords -->
	<div class="form-group has-feedback">
		<label class="control-label col-sm-3" for="password1">Пароль: </label>
		<div class="col-sm-8">
			<input name="password1" pattern=".{5,20}" type="password" class="form-control" id="password1" placeholder="Введите пароль" required autocomplete="off">
			<div class="help-block">От 6 до 20 символов.</div>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label class="control-label col-sm-3" for="password2">Повторите: </label>
		<div class="col-sm-8">
			<input name="password2" type="password" class="form-control" id="password2" data-match="#password1" placeholder="Повторите пароль" required data-match-error="Пароли не совпадают." autocomplete="off">
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<!-- Submit -->
	<div class="form-group">
		<div class="text-center">
			<button disabled type="submit" class="btn btn-default submit-button"><i class="fa fa-check" aria-hidden="true"></i> Регистрация</button>
		</div>
	</div>
</form>
<div id="registration-loader" style="display:none" class="spinner-loader">
	<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>